- widget_box "Moves" do
  
  %table#moves
    %thead
      %tr
        %th Move
        %th{ 'filter-type' => 'ddl' } Difficulty
        %th{ 'filter-type' => 'ddl' } Category
        %th{ 'filter-type' => 'ddl' } Start hands
        %th{ 'filter-type' => 'ddl' } Finish hands
    %tbody
      = render :partial => 'move', :collection => @moves

:javascript
  $(document).ready(function() {
    $('#moves').tableFilter();
  });
