- widget_box "Moves" do
  
  %table
    %tr
      %th Move
      %th Difficulty
      %th Category
      %th Start hands
      %th Finish hands
  
    = render :partial => 'move', :collection => @moves
